@import bootstrap-4-grid
@import libs/slick.css
@import helpers

body
  background: #ffffff !important
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace


.submiting
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  background-color: #fff
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 2

.Link
  font-size: 13px
  color: #737373
