.Auth
  background-image: url(../../assets/signup-bg.png), linear-gradient(180deg, #be0200, #bd4200,#bd4200)
  background-size: 1000px
  min-height: 100vh
  display: flex
  align-items: flex-start
  justify-content: center
